---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: webhook
  namespace: system
  labels:
    control-plane: controller-manager
    app.kubernetes.io/name: tekton-kueue-webhook
    app.kubernetes.io/managed-by: kustomize
spec:
  selector:
    matchLabels:
      control-plane: controller-manager
      app.kubernetes.io/name: tekton-kueue-webhook
  replicas: 1
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: webhook
      labels:
        control-plane: controller-manager
        app.kubernetes.io/name: tekton-kueue-webhook
    spec:
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      containers:
        - command:
            - /manager
          args:
            - webhook
            - --health-probe-bind-address=:8081
            - --webhook-cert-path=/tmp/k8s-webhook-server/serving-certs
            - --config-dir=/tmp/k8s-webhook-server/kueue-config
            - --metrics-bind-address=:8443
          image: controller:latest
          name: webhook
          env:
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          ports:
            - containerPort: 9443
              name: webhook-server
              protocol: TCP
            - containerPort: 8443
              name: metrics-server
              protocol: TCP
          securityContext:
            readOnlyRootFilesystem: true
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - "ALL"
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8081
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            limits:
              cpu: 500m
              memory: 128Mi
            requests:
              cpu: 10m
              memory: 64Mi
          volumeMounts:
            - mountPath: /tmp/k8s-webhook-server/serving-certs
              name: webhook-certs
              readOnly: true
            - mountPath: /tmp/k8s-webhook-server/kueue-config
              name: kueue-config
              readOnly: true
      volumes:
        - name: webhook-certs
          secret:
            secretName: webhook-server-cert
        - name: kueue-config
          configMap:
            name: config
      serviceAccountName: webhook
      terminationGracePeriodSeconds: 10
